{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}Chatrooms | Password Reset{% endblock %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class = "container">
    <div class = "row">
    <br>
        <div class = "col-md-6 col-md-offset-3 well">
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>The link to create a new password is invalid, it is possible that it has been used. You can resend the email <a href="{% url 'account_reset_password' %}">here</a>.</p>
            {% else %}
            {% if form %}
            <h2 class="text-center">Password reset</h2>
            <form method="POST" action="." class="password_change">
                {% csrf_token %}
                <div class = "form-group">
                    <ul>
                        <li>
                            <label for="id_password1">Password*</label> <input class = "form-control" id="id_password1" name="password1" placeholder="Password" type="password" />
                        </li>
                        <br>
                        <li>
                            <label for="id_password2">Password(again)*</label> <input class = "form-control" id="id_password2" name="password2" placeholder="Password (again)" type="password" />
                        </li>
                        <br>
                        <input class = "btn btn-success btn-lg pull-right" type="submit" name="action" value="Change Password"/>
                    </ul>
                </div>
            </form>
                {% else %}
                <p>{% trans 'Your password has already been changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}