{% extends "account/base.html" %}
{% block title %}Chatrooms | Password reset sent{% endblock %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% load i18n %}
{% load account %}
{% block content %}
<div class = "container">
	<div class = "row">
    <br>
    <br>
		<div class = "col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 text-center">
		    {% if user.is_authenticated %}
		    {% include "account/snippets/already_logged_in.html" %}
		    {% endif %}
		    
		    <p class="lead">{% blocktrans %}Reset account password email sent. Please contact me if you don't receive the email shortly.{% endblocktrans %}</p>
		</div>
	</div>
</div> 
{% endblock %}
