{% extends "base.html" %}
{% block title %}ChatRooms | About{% endblock title %}
{% block content %}
<div class="container text-center">
    <br>
    <h2>Chatrooms is currently in beta and open for improvements.</h2>
    <br>
    <center>
        <iframe src="http://ghbtns.com/github-btn.html?user=jpadilla1&repo=chatrooms&type=watch&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=jpadilla1&repo=chatrooms&type=fork&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=jpadilla1&type=follow&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="240" height="30"></iframe>
    </center>
    <hr>
    <p class="lead">If you have any issue and/or recomendation. Feel free to let us know at the projects issue page on Github.</p>
    <center>
        <a href="https://github.com/Jpadilla1/chatrooms/issues" class="btn btn-transparent btn-lg">Issues page</a>
    </center>
</div>    
{% endblock content %}