Django==1.6.3
dj-database-url==0.3.0
dj-static==0.0.5
django-allauth==0.16.1
django-autoslug==1.7.2
django-braces==1.4.0
django-crispy-forms==1.4.0
gunicorn==18.0
oauthlib==0.6.1
pystache==0.5.3
python-dateutil==2.2
python-openid==2.2.5
requests==2.2.1
requests-oauthlib==0.4.0
six==1.6.1
static==1.0.2
wsgiref==0.1.2
psycopg2==2.5.1
