{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Chats | {{ room.name }}{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>{{ room.name }}</strong></div>
                <div class="panel-body messages-bx">
                    {% for m in room_messages %}
                        <h4>{{ m.created_by.username }}</h4>
                        <span>{{ m }}</span>
                        <hr>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}