<!doctype html>{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>
    {% block header %} 
        {% include "common/header.html" %} 
    {% endblock header %} 
    {% block content %}
        <div class="container"></div>
    {% endblock content %}
    {% block footer %}
      {# {% include "common/footer.html" %} #}
    {% endblock footer %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
    
</html>
