<!doctype html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        {% block header %}{% endblock header %} 
    </header>

    {% block content %}{% endblock content %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/ws4redis.js' %}"></script>
    {% block extra_js %}
        
    {% endblock extra_js %}
</body>
    
</html>
