{% extends "base.html" %} 
{% block title %}Chats | My rooms{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if myrooms|length > 0 %}
                <h1>My Rooms</h1>
                <hr>
                {% for room in myrooms %}
                   <p class="lead"><a href="{% url 'chats:room' room.slug %}">{{ room }}</a> - <span class="text-success">{{ room.members.count }} members</span></p>
                {% endfor %}
            {% else %}
                <br>
                <h3 class="text-center">You currently have no enrolled rooms. Go <a href="{% url 'chats:index' %}">here</a> for a list of available rooms.</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}